*{
    margin: 0%;
    padding: 0%;
    
}
body{
    background-color: whitesmoke;
    background: url(assets/pages/page/About-us/images/rocks.jpg);
    background-size: cover;
    background-position: center;
    
}
.sect1{
    background-color:rgba(188, 175, 175, 0.556);
    height: 10vh;
}
.sect1>nav{
    display: flex;
    justify-content: space-between;
    
}
.sect1>nav>ul{
    display: flex;
    margin-left: -20rem;
    
    
}
.sect1>nav>ul>a>li{
    list-style-type: none;
    margin: 30px;
    margin-top: 10px;
    
    
    
    
}
a{
    text-decoration: none;
    color: white;
    
}
a:hover{
    color: black;
   
}
.sect1>nav>.navSocials>i{
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
}
.sect2{
    margin-top: 10px;
    position: relative;
    text-align: center;
    color: white;
}

.sect2>div{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    
}
.sect3{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    height: 17vh;
    background-color: rgba(188, 175, 175, 0.548);
    color: rgb(11, 10, 10);
    
}
.sect3>.getInTouch{
    margin-left: 50px;
    font-size: 20px;
}
.sect3>.supaShopper{
    font-size: 18px;
}
.sect4{
    border-radius: 230px;
    background-color: rgba(188, 175, 175, 0.563);
    margin: 0px 30px 0px 30px;
   
}
.sect4>h2{
    text-align: center;
    font-size: 40px;
    margin: 50px 0px 100px 0px;
}

.sect4>.developers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px;
    margin-top: 10px;
    
}
.sect4>.developers>div{
    margin: 75px;
    margin-top:0px ;
}

.sect4>.developers>div>img{
   border-radius: 70px;
}
.sect4>.developers>div>h4{
    font-size: 23px;
}
.sect4>.developers>div>p{
    font-size: 20px;
}

.sect5{
    height: 100vh;
    background-color:rgba(188, 175, 175, 0.563) ;
    display: flex;
    margin: 0px 200px 100px 200px;
}
.sect5>div{
    font-size: 20px;
    font-weight: 900;
    color: white;
}
.rings{
   display: flex;
   align-items: center;
   margin-left: 140px;
}
.rings1>.ring1{
    padding: 75px;
    border: 15px solid rgb(0, 0, 0);
    border-top-left-radius: 500px;
    margin: 2px;
    
}
.rings1>.ring2{
    padding: 75px;
    border: 15px solid rgb(0, 0, 0);
    border-bottom-left-radius: 300px;
    margin: 2px;
    
}
.rings2>.ring3{
    padding: 75px;
    border: 15px solid rgb(0, 0, 0);
    border-top-right-radius: 300px;
    margin: 2px;
    
}
.rings2>.ring4{
    padding: 75px;
    border: 15px solid rgb(0, 0, 0);
    border-bottom-right-radius: 300px;
    margin: 2px;
    
}
