*{
    margin: 0%;
    padding: 0%;
}
.sect1{
    background-color:rgba(165, 42, 42, 0.886);
    height: 10vh;
}
.sect1>nav{
    display: flex;
    justify-content: space-between;
    
}
.sect1>nav>ul{
    display: flex;
    margin-left: -20rem;
    
    
}
.sect1>nav>ul>a>li{
    list-style-type: none;
    margin: 30px;
    margin-top: 10px;
    
    
    
    
}
a{
    text-decoration: none;
    color: white;
    
}
a:hover{
    color: black;
   
}
.sect1>nav>.navSocials>i{
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
}
.sect2{
    position: relative;
    text-align: center;
    color: white;
}

.sect2>div{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(252, 252, 246);
    opacity: 0.6;
}
.sect3{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    height: 16vh;
    background-color: whitesmoke;
}
.sect3>.getInTouch{
    margin-left: 50px;
    font-size: 20px;
}
.sect3>.supaShopper{
    font-size: 18px;
}
.sect4>h2{
    text-align: center;
    font-size: 40px;
    margin: 100px 0px 100px 0px;
}

.sect4>.developers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px;
    margin-top: 10px;
    
}
.sect4>.developers>div{
    margin: 75px;
    margin-top:0px ;
}

.sect4>.developers>div>img{
   border-radius: 70px;
}
.sect4>.developers>div>h4{
    font-size: 23px;
}
.sect4>.developers>div>p{
    font-size: 20px;
}